*.opensdf
*.suo
*.sdf
*.exe
*.ilk
*.pdb
*.tlog
*.log
*.pdb
*.idb
Project/OpenGL-Game/Debug/
Project/WorldEditor/Debug/
Project\WorldEditor\Debug\
Project/OpenGL-Game.v12.suo
Project\Server\Debug\
Project\Client\Debug\
Project\Network\Debug\
Project\OpenGL-Game-Client\Debug\
Project\OpenGL-Game-Server\Debug\