*.opensdf
*.suo
*.sdf
*.exe
*.ilk
*.pdb
*.tlog
*.log
*.pdb
*.idb
Project/OpenGL-Game/Debug/
Project/WorldEditor/Debug/
Project\WorldEditor\Debug\
Project/OpenGL-Game.v12.suo
Project/OpenGL-Game/Main.cpp